.form-group{
  font-size: 20px;
}

.container{
  text-align: center;
  font-family: sans-serif;
}

.container{
  margin-top: 33%;
}

#submitBtn{
  width: 100px;
  /*height: 25px;*/
  margin-top: 2%;
}

.create{
  margin-top: 5%;
}
