<div class="main__body">
      <div class="row">
        <div class="col m4"></div>
        <div class="card col m4 grey darken-3">
            <div class="card-block">

              <form name="userform" method="post" #formCtrl="ngForm">
                <h2 id="signIn">Sign Into <em>JSAZA</em></h2>
                <div class="form-group">
                  <label for="email" required>Email</label>
                  <input class="loginInput" [(ngModel)]="user.email" type="email" class="form-control" name="email" placeholder="Email">
                  <br>

                  <label for="password">Password</label>
                  <input class="loginInput" [(ngModel)]="user.password" type="password" class="form-control" name="password" placeholder="Password" required>
                  <br>

                  <a id="submitBtn" (click)="signInWithEmail()" class="waves-effect waves-light btn grey darken-2" style="margin-bottom: 20px ">Login</a>
                  <a class="waves-effect waves-light btn create" routerLink='create-artist'>Create Artist Account</a>
                  <a class="waves-effect waves-light btn create" routerLink='create-group'>Create Group Account</a>
                </div>


              </form>

            </div>
        </div>
      <!-- end card -->
    <!-- end container -->
  </div>
