.form-group{
  font-size: 20px;
}

.container{
  text-align: center;
  font-family: sans-serif;
}


#signIn{
  text-decoration: underline;
}

.container{
  margin-top: 33%;
}


#submitBtn{
  width: 100px;
  /*height: 25px;*/
  margin-top: 2%;
}

.create{
  background-color: #330000;
  margin-bottom: 2%;
}

.create:last-child{
  margin-bottom: 2%;
}

h2 {
  text-align: center;
  color: #ee6e73;
}
