<div class="top-nav">
      <button class="account" routerLink="create-artist" id="email-button" type="button" name="button"><strong>SIGN UP </strong></button>
      <button class="group" routerLink="create-group" id="group-button" type="button"><strong>CREATE GROUP </strong></button>
      <button class="account" routerLink="" id="signin-button" type="button" name="button"><strong>SIGN IN</strong></button>
      <a href="artist-search">Search</a>
      <!-- <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
      <a href="#">Link 5</a> -->
</div>
<h1 *ngIf="this.authService.isLoggedIn()">
  Welcome, {{ displayName }}!
  <img src="{{ photoURL }}" width="100px">
</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>
