
<!-- <div class="top-nav">
      <button class="account btn btn-link" routerLink="create-artist" id="email-button" type="button" name="button"><strong>SIGN UP</strong></button>
      <button class="account btn btn-link" routerLink="" id="signin-button" type="button" name="button"><strong>SIGN IN</strong></button> -->
      <ul class="navbar">
      <li class="navitems"><a class="navlinks" href="#">Link 1</a></li>
      <li class="navitems"><a class="navlinks" href="#">Link 2</a></li>
      <li class="navitems"><a class="navlinks" href="#">Link 3</a></li>
      <li class="navitems"><a class="navlinks" href="#">Link 4</a></li>
      <li class="navitems"><a class="navlinks" href="#">Link 5</a></li>
      <button class="account btn btn-link" routerLink="create-artist" id="email-button" type="button" name="button"><strong>SIGN UP</strong></button>
      <button class="account btn btn-link" routerLink="" id="signin-button" type="button" name="button"><strong>SIGN IN</strong></button>
    </ul>


<h1 *ngIf="this.authService.isLoggedIn()">
  Welcome, {{ displayName }}!
  <img src="{{ photoURL }}" width="100px">
</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>
