.genreDiv {
  float: left;
  text-align: center;
  height: 45px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background-color: white;
}

#messageButton {
  display: block;
  margin-top: 5px;
  background-color: #424242;
  /*color: #ee6e73;*/
  color: #FFFFFF;
}

.row{
  height: auto;
}

.card {
  background-color: rgba(85,85,85,.85);
  height: 100%;
}

#cardTabs {
  height: 100%;
}

.card-title{
  font-weight: bold;
  color: #cccccc;
}

.card-reveal {
  background-color: #424242;
}
.pImage {
  position: relative;
  z-index: 1;
}

.tabs {
  background-color: #424242;
  color: white;
}

.tabs .tab a{
  color: rgb(160, 160 ,160);
}

.tabs .tab a:hover{
  color: rgb(255,255,255);
}

.card .card-content p{
  color: #ccccff;
  font-size: 125%;
  padding: 0px;
}
