<!-- <p>
  dashboard works!
</p>
<a class="waves-effect waves-light btn" (click)="this.authService.logout()">logout <i class="material-icons">stop</i></a> -->

<div class="row">
  <div class="card large col s4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{artistToDisplay.profileImage}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{artistToDisplay.name}}<i class="material-icons right">more_vert</i></span>
      <hr>
      <p>{{artistToDisplay.tagline}}</p>
      <hr>
      <p>
        <small>{{artistToDisplay.location.city}}, {{artistToDisplay.location.state}}</small>
        <a style="float: right" class="waves-effect waves-light btn-small"><i class="material-icons right">email</i>message</a>
      </p>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{artistToDisplay.name}}<i class="material-icons right">close</i></span>
      <hr>
      <p>{{artistToDisplay.bio}}</p>
    </div>
  </div>

  <div class="card large col s8">
    <div class="card-content">
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#instruments">Instruments</a></li>
        <li class="tab"><a href="#groups">Groups</a></li>
        <li class="tab"><a href="#genres">Genres</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="instruments">
        <p *ngFor="let instrument of artistToDisplay.instruments">
          <img height="100px" style="float: left; padding: 10px" src="./../../assets/instrument-icons/{{instrument}}.png" alt="{{instrument}}" title="{{instrument}}">
        </p>
      </div>
      <div id="groups">
        <ul>
          <li *ngFor="let group of artistToDisplay.groups">{{group.name}} - {{group.role}}</li>
        </ul>
      </div>

      <div id="genres">
        <div class="genreDiv" *ngFor="let genre of artistToDisplay.genres">{{genre}}</div>
      </div>

    </div>
  </div>


</div>
