.genreDiv {
  float: left;
  text-align: center;
  height: 45px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background-color: white;
}

#messageButton {
  display: block;
  margin-top: 5px;
  background-color: #424242;
  color: #ee6e73;
}

.card {
  background-color: #758897;
}

.card-reveal {
  background-color: #729395;
}
.pImage {
  position: relative;
  z-index: 1;
}
