<h1>Thanks for Deciding to Join!</h1>

<form>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" value="Name" #newName>
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" value="testUser@email.com" #newEmail>
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="text" value="password" #newPassword>
  </div>

  <div class="form-group">
    <label for="Location">Location</label>
    <input type="text" value="Location" #newLocation>
  </div>
  <div class="form-group">
    <label for="Instruments">Instruments</label>
    <input type="text" value="Instruments" #newInstruments>
  </div>
  <div class="form-group">
    <label for="Genres">Genres</label>
    <input type="text" value="Genres" #newGenres>
  </div>
  <div class="form-group">
    <label for="Bio">Bio</label>
    <input type="text" value="Bio" #newBio>
  </div>
  <div class="form-group">
    <label for="LookingFor">LookingFor</label>
    <input type="text" value="LookingFor" #newLookingFor>
  </div>
  <div class="form-group">
    <label for="Available">Available</label>
    <input type="text" value="true" #newAvailable>
  </div>
  <div class="form-group">
    <label for="CurrentGroups">CurrentGroups</label>
    <input type="text" value="CurrentGroups" #newCurrentGroups>
  </div>
  <div class="form-group">
    <label for="FormerGroups">FormerGroups</label>
    <input type="text" value="FormerGroups" #newFormerGroups>
  </div>
  <button (click)="submitForm(newName.value, newEmail.value, newPassword.value, newLocation.value, newInstruments.value, newGenres.value, newBio.value, newLookingFor.value, newAvailable.value, newCurrentGroups.value, newFormerGroups.value)">create</button>
</form>

<button (click)="testFunc()">testFunc()</button>
