<h1>Thanks for Deciding to Join!</h1>

<form>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" value="Test User" #newName>
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" value="testUser@email.com" #newEmail>
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="text" value="password" #newPassword>
  </div>
  <div class="form-group">
    <label for="Location">Location</label>
    <input type="text" value="Portland" #newCity>
    <input type="text" value="Oregon" #newState>
    <input type="text" value="97204" #newZip>
  </div>
  <div class="form-group">
    <select #currentInstrument>
      <option [attr.value]="Guitar">Guitar</option>
      <option [attr.value]="Bass">Bass</option>
      <option [attr.value]="Keyboards">Keyboards</option>
      <option [attr.value]="Drums">Drums</option>
      <option [attr.value]="Vocals">Vocals</option>
    </select>
    <button (click)="addNewInstrument(currentInstrument.value)">Add Another Instrument</button><br>
    <div *ngIf="currentInstrument">
      Current Instrumet: {{currentInstrument.value}}
    </div>
    <p>Added Instruments:</p>
    <div *ngFor="let instrument of instruments">
      {{instrument}}
      <br>
    </div>
    <br>
  </div>
  <div class="form-group">
    <select #currentGenre>
      <option [attr.value]="Rock">Rock</option>
      <option [attr.value]="Jazz">Jazz</option>
      <option [attr.value]="Classical">Classical</option>
      <option [attr.value]="Country">Country</option>
      <option [attr.value]="Pop">Pop</option>
    </select>
    <button (click)="addNewGenre(currentGenre.value)">Add Another Instrument</button><br>
    <div *ngIf="currentGenre">
      Current Genre: {{currentGenre.value}}
    </div>
    <p>Added Genres:</p>
    <div *ngFor="let genre of genres">
      {{genre}}
      <br>
    </div>
    <br>
  </div>
  <div class="form-group">
    <label for="Bio">Bio</label>
    <textarea value="Bio" #newBio></textarea>
  </div>
  <div class="form-group">
    <label for="LookingFor">Looking For</label>
    <select #currentLookingFor>
      <option [attr.value]="Guitar">Guitar</option>
      <option [attr.value]="Bass">Bass</option>
      <option [attr.value]="Keyboards">Keyboards</option>
      <option [attr.value]="Drums">Drums</option>
      <option [attr.value]="Vocals">Vocals</option>
    </select>
    <div *ngIf="currentLookingFor">
      Looking For: {{currentLookingFor.value}}
    </div>
    <button (click)="addNewLookingFor(currentLookingFor.value)">Add</button>
    <br>
    Added to Looking For:
    <div *ngFor="let lookingFor of allLookingFor">
      {{lookingFor}}
    </div>
  </div>
  <div class="form-group">
    <label for="Available">Available</label>
    <input type="text" value="true" #newAvailable>
  </div>
  <div class="form-group">
    <label for="Groups">Groups</label>
    <input type="text" value="groupId" #newGroupId>
    <input type="text" value="groupRole" #newGroupRole>
    <input type="text" value="groupStartDate" #newGroupStartDate>
    <input type="text" value="groupEndDate" #newGroupEndDate>
  </div>
  <div class="form-group">
    <label for="imageURL">Profile image url</label>
    <input type="text" value="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" #newProfileImg>
  </div>
  <div class="form-group">
    <label for="gallery">Gallery img urls</label>
    <input type="text" #newGalleryURL1>
    <input type="text" #newGalleryURL2>
    <input type="text" #newGalleryURL3>


  </div>
  <button (click)="submitForm(newName.value, newEmail.value, newPassword.value, newCity.value, newState.value, newZip.value, newBio.value, newAvailable.value, newGroupId.value, newGroupRole.value, newGroupStartDate.value, newGroupEndDate.value, newProfileImg.value, newGalleryURL1.value, newGalleryURL2.value, newGalleryURL3.value)">create</button>
</form>

<button (click)="testFunc()">testFunc()</button>
