
body{
  background: linear-gradient(to top, #000D28, #424242);
  height: 120vh;
  color: rgb(175, 175, 175);
}

button{
  color: rgb(20, 20, 20);
}

.card{
  background-color: rgba(90,90,90,.75);
}

.card a{
  color: rgba(230,230,230,.75);
}
