body {
  /*background: linear-gradient(to top right, #000D28, #2C3F6A);*/
  /*background: linear-gradient(to top right, #000D28, rgb(80,80,90));*/
  background: linear-gradient(bottom, #000D28, #424242);
  height: 100vh;
}

/*ul.dropdown-content.select-dropdown li span {
    color: #ee6e73;
}*/
