body {
  /* background: linear-gradient(to top right, #000D28, #2C3F6A); */
  background: radial-gradient(circle at 100%, #000D28, #000D28 50%, #2C3F6A 75%, #000D28 75%);
  height: 100vh;
  color: #ee6e73;
}

ul.dropdown-content.select-dropdown li span {
    color: #ee6e73;
}
