<h2>Artist Search</h2>

<div class="row">
<div  class="input-field col s4">
  <select materialize="material_select" (change)="onChangeInstrument($event.target.value)">
    <option value="all">all</option>
    <option value="drums">drums</option>
    <option value="bass">bass</option>
    <option value="guitar">guitar</option>
    <option value="vocals">vocals</option>
    <option value="keyboard">keyboard</option>
  </select>
  <label>Search by instrument</label>
</div>
<div class="input-field col s4">
  <select materialize="material_select" (change)="onChangeGenre($event.target.value)">
    <option value="all">all</option>
    <option value="pop">pop</option>
    <option value="rock">rock</option>
    <option value="country">country</option>
    <option value="jazz">jazz</option>
    <option value="classical">classical</option>
    <option value="metal">metal</option>
    <option value="blues">blues</option>
  </select>
  <label>Search by genre</label>
</div>
  <div  class="input-field col s4">
  <select materialize="material_select" (change)="onChangeAvailable($event.target.value)">
    <option value="all">all</option>
      <option value="true">yes</option>
      <option value="false">no</option>
  </select>
  <label>Filter by Availability</label>
</div>
</div>

  <div *ngFor="let artist of artists | async | instrumentPipe:filterByInstrument | genrePipe:filterByGenre | availablePipe:filterByAvailable" class="card" routerLink="../view-user/{{artist.$key}}">
    <div class="panel-body">
      <img class="profImage" src="{{artist.profileImage}}" alt="{{artist.name}}'s profile image'">
      <h5>Name: {{artist.name}} </h5>
      <p>{{artist.tagline}}</p>
    </div>
  </div>
